.wp-block-create-block-sp-team-members {
	display: block;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			/* stylelint-disable-next-line selector-class-pattern */
			> .block-editor-inner-blocks > .block-editor-block-list__layout > {
				[data-type="create-block/sp-team-member"] {
					width: calc(100% / #{$i} - 20px);
					display: block;
				}

				// define a var and store calc(100% / #{$i} - 20px) value, and use it width and height

				.block-list-appender {
					$column-w-h: calc(100% / #{$i} - 20px);
					width: $column-w-h;
					min-height: calc(665px / #{$i} - 20px);
					position: unset !important;
					align-self: stretch;
					border: 1px dashed;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
	/* stylelint-disable-next-line selector-class-pattern */
	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		[data-type="create-block/sp-team-member"] {
			max-width: none;
			margin: 0;
		}

		> [data-type="create-block/sp-team-member"] {
			margin: 10px;
			text-align: center;

			h4 {
				color: #222;
				font-size: 22px;
				font-weight: bold;
				margin: 0;
			}

			p {
				color: #565656;
				font-size: 16px;
				font-weight: 300;
				margin-bottom: 5px;
				margin-top: 5px;
			}
			img {
				max-width: 100%;
				height: auto;
				border-radius: 20px;
			}
			.wp-block-create-block-sp-team-member-social-links {
				ul {
					list-style: none;
					padding: 0;
					margin: 2px -5px 0;
					// display: flex;
					// align-items: center;
					// justify-content: center;
					li {
						display: inline-block;
						margin: 5px;
						span.dashicon {
							color: #565656;
							&:active {
								color: green;
							}
						}

						&.is-selected {
							outline: 2px solid;
							border-radius: 4px;
							height: 20px;
							border: none;
						}

						button {
							background: none;
							border: none;
							padding: 0;
							cursor: pointer;
							margin: 0;
							border: none;
							height: 20px;
							outline: 2px solid transparent;
						}
					}
					.wp-block-create-block-sp-team-member-add-icon-li {
						button {
							outline: 1px dashed;
							height: 19px;
						}
					}
				}
			}
			.wp-block-create-block-sp-team-member-img {
				position: relative;

				&.is-loading img {
					opacity: 0.5;
				}

				.components-spinner {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}

			.wp-block-create-block-sp-team-member-link-form {
				background: #f9f9f9;
				padding: 10px;
				margin-top: 10px;
				border-radius: 8px;
			}
		}
	}
}
