.wp-block-create-block-sp-team-members {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			.wp-block-create-block-sp-team-member {
				width: calc(100% / #{$i} - 20px);
			}
		}
	}
	.wp-block-create-block-sp-team-member {
		margin: 10px;
		text-align: center;

		.wp-block-create-block-sp-team-member-social-links {
			ul {
				list-style: none;
				padding: 0;
				margin: 2px -5px 0;
			}
			li {
				display: inline-block;
				margin: 5px;
				&:hover {
					span.dashicon {
						transition: all 0.4s ease;
						color: #69b469;
					}
				}
				a {
					text-decoration: none;
				}
				span.dashicon {
					color: #565656;
				}
			}
		}

		h4 {
			color: #222;
			font-size: 22px;
			font-weight: bold;
			margin: 0;
		}

		p {
			color: #565656;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 5px;
			margin-top: 5px;
		}
		img {
			max-width: 100%;
			height: auto;
			border-radius: 20px;
		}
	}
}
